@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'login.scss';

@font-face {
    font-family: Prompt;
    src: url("./fonts/Prompt.ttf");
}

@font-face {
    font-family: Mali;
    src: url("./fonts/Mali.ttf");
}

@import 'newscard.scss';


body {
    background-color: #0F172A;
}
.product-category {
    svg {
        margin: auto;
    }
}

